<div class = "container" id="schedule">

        <h1>The Schedule</h1>
<hr align="left">
                <div class="card mb-3" style="max-width: auto">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                                <img src="https://res.cloudinary.com/devex/image/fetch/c_scale,f_auto,q_auto,w_720/https://lh4.googleusercontent.com/VQyrPPyh-FGdV2BJtlcwDphesnxERD6SLWvGtARygLDVNSsXhFF0kzG_yXvLyiARZbKIG3VYF_CIbF4_B-Wy3Eu7kKhHKKR3pq_2ob2pdZgxt_Wz_uqXjRMrhIBKREQnJo--Ui9b" class="card-img" alt="Pic of people during hackathon">
                        </div>
                        <div class="col-md-8">
                                <div class="card-body">
                                        <h5 class="card-title">Schedule</h5>
                                        <p class="card-text">The scheduled Hackathon will be taking place February TBA-TBA, 2020 on Georgia SOuthern Statesboro Campus in the TBA building*hyperlink to google maps*</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                        </div>
                        </div>

                </div>
                <div class="card">
                        <div class="card-body">
                                This is some text within a card body.
                        </div>
                </div>
                <div class="card">
                                <div class="card-body">
                                        This is some text within a card body.
                                </div>
                        </div>
                 <div class="card">
                        <div class="card-body">
                                This is some text within a card body.
                        </div>
                </div>
                 <div class="card">
                        <div class="card-body">
                                This is some text within a card body.
                        </div>
                </div>



</div>