<div class="container" id="contact">
    <h1>Want to contact us?</h1>
    <hr align="left">
    <ul class="list-group">
            <li class="list-group-item active list-group-flush">Meet the team</li>
            <li class="list-group-item">Lead Organizer: Shelby Cuaron</li>
            <li class="list-group-item">Hackathon Advisors: Chris Kadlec, Elizabeth Rasnick</li>
            <li class="list-group-item">Social Media Manager: Maria Vilar</li>
            <li class="list-group-item">Recruitment Manager: Bella Obidike</li>
            <li class="list-group-item">Event Manager: Ariel Badie</li>
            <li class="list-group-item">Budget Analyst: Everrick Wright</li>         
        </ul>
          <a href="mailto:southernhacks@gmail.com"><button type="button" class="btn btn-primary btn-lg btn-block">Email us at southernhacks@gmail.com</button></a>
        <h1>FAQ</h1>
          <hr align="left">
          <ul class="list-group">
                <li class="list-group-item active">Who can attend?</li>
                <li class="list-group-item">Any students 18 or older enrolled in a college or university is able to attend. If you are a Georgia Southern student and under the age of 18 you will be able to attend as well. Anyone is able to mentor or volunteer.</li>
                <li class="list-group-item active">Any experience required?</li>
                <li class="list-group-item">No experience required ar all!</li>
                <li class="list-group-item active">How much does it cost?</li>
                <li class="list-group-item">$0.00</li>
                <li class="list-group-item active">How do I get there?</li>
                <li class="list-group-item">Unfortunately we will not be providing transportation. So all attendees are responsible for providing their own rides.</li>
                <li class="list-group-item active">Travel Reimbursements?</li>
                <li class="list-group-item">TBA (Not happening unless a miraculous donation is made)</li>
                <li class="list-group-item active">Do I need a team?</li>
                <li class="list-group-item">Not at all! You can hack it out solo, though working with a team is encouraged!</li>
                <li class="list-group-item active">How do I join a team?</li>
                <li class="list-group-item">If you are coming to the event with a team already formed you may indicate so during registration. If you are looking to join a team or looking for members for your team please feel free to join here *hyper link to a chat or something*.</li>
                <li class="list-group-item active">What should I bring?</li>
                <li class="list-group-item">You should bring:
                        Laptop w/ charger,
                        Phone w/ charger,
                        Toiletries you may need, there will be no showers available.
                        Please do not forget any medications you take daily or may need for this event.
                        A sleeping bag and pillow are recommended as there are no sleeping accommodations.
                        </li>
                <li class="list-group-item active">What are the rules?</li>
                <li class="list-group-item">No past projects are allowed for submission, please adhere to the spirit of Hackathons and only submit projects that you begin during this event. So everyone can have a nice fun experience we ask that you read the Code of Conduct *hyper link here for MLH* </li>
                <li class="list-group-item active">Where is parking?</li>
                <li class="list-group-item">Parking for the event will be in Lot TBA *Hyper link to Google map*</li>
                <li class="list-group-item active">How can I confirm that my registration was received?</li> 
                <li class="list-group-item">There will have been a confirmation email sent to you within 48 hours of your registration.</li>
                <li class="list-group-item active">When is the deadline to register?</li>
                <li class="list-group-item">The deadline to register for SouthernHacks is TBA, 2020 at 11:59 PM.</li>
                <li class="list-group-item active">This is my first hackathon and I'm not sure what to do?</li>
                <li class="list-group-item">There will be mentors available to help you throughout your time here as well as workshops to help you develop and learn new skills and knowledge. You have to start somewhere so why not SouthernHacks! </li>
            </ul>
    
        </div>