<div class="container" id="contact">
    <h1>Want to contact us?</h1>
    <hr align="left">
            <h3>Meet the team</h3>
            <div class="team">
            <a href="https://www.linkedin.com/in/shelby-cuaron-736830141/">
              <img src="../../assets/headshots/shelby.jpg" alt="Shelby Cuaron"></a>
              <label>Lead Organizer: Shelby Cuaron</label>
            </div>
            
            <div class="team">
              <a href="https://www.linkedin.com/in/maria-vilar-821ba3171/"><img src="../../assets/headshots/maria.jpg" alt="Maria Vilar"></a>
            <label>Social Media Manager: Maria Vilar</label>
            </div>
            <div class="team">
            <a href="https://www.linkedin.com/in/chibuokem-obidike/">
              <img src="../../assets/headshots/bella.jpg" alt="Bella Obidike"></a>
            <label>Recruitment Manager: Bella Obidike</label>
            </div>
            <div class="team">
            <a href="https://www.linkedin.com/in/ariel-badie-385946172/">
              <img src="../../assets/headshots/ariel.jpg" alt="Ariel Badie"></a>
            <label>Event Manager: Ariel Badie</label>
            </div>
            <div class="team">
            <a href="https://www.linkedin.com/in/everrick-ray-wright-b2a532195/">
              <img src="../../assets/headshots/everrick.jpg" alt="Ray Wright"></a>
            <label>Budget Analyst: Everrick Wright</label>
            </div>
            <div class="team">
            <a href="https://www.linkedin.com/in/aditya-suri-08bb34126/">
              <img src="../../assets/headshots/lj.jpg" alt="This should be LJ"> </a>
            <label>Hacker Manager: LJ Suri</label>     
          </div> 
          <p>For any questions or concerns, email us at <a href="mailto:southernhacks@gmail.com">southernhacks@gmail.com</a></p>
        <h1>FAQ</h1>
          <hr align="left">
          <dl class="list-group">
                <dt class="list-group-item">Who can attend?</dt>
                <dd class="list-group-item">Any student who is 18 or older and enrolled in a college or university is able to attend. If you are a Georgia Southern student and under the age of 18 you will be able to attend as well. Anyone is able to mentor or volunteer.</dd>
                <dt class="list-group-item  ">Any experience required?</dt>
                <dd class="list-group-item">No experience required ar all!</dd>
                <dt class="list-group-item  ">How much does it cost?</dt>
                <dd class="list-group-item">$0.00</dd>
                <dt class="list-group-item  ">How do I get there?</dt>
                <dd class="list-group-item">Unfortunately we will not be providing transportation. So all attendees are responsible for providing their own rides.</dd>
                <dt class="list-group-item  ">Travel Reimbursements?</dt>
                <dd class="list-group-item">TBA (Not happening unless a miraculous donation is made)</dd>
                <dt class="list-group-item  ">Do I need a team?</dt>
                <dd class="list-group-item">You only have to join a team if you are competing. Minumum of 2, Maximum of 5.</dd>
                <dt class="list-group-item  ">How do I join a team?</dt>
                <dd class="list-group-item">If you are coming to the event with a team already formed you may indicate so during registration. If you are looking to join a team or looking for members for your team please feel free to chat in the <a href="https://app.groupme.com/join_group/56450675/nL2IbJmC">Team Finder GroupMe</a>.</dd>
                <dt class="list-group-item  ">What should I bring?</dt>
                <dd class="list-group-item">You should bring:
                        Laptop w/ charger,
                        Phone w/ charger,
                        Toiletries you may need, there will be no showers available.
                        Please do not forget any medications you take daily or may need for this event.
                        A sleeping bag and pillow are recommended as there are no sleeping accommodations.
                </dd>
                <dt class="list-group-item  ">What are the rules?</dt>
                <dd class="list-group-item">No past projects are allowed for submission, please adhere to the spirit of Hackathons and only submit projects that you begin during this event. So everyone can have a nice fun experience we ask that you are nice to everyone and come to learn and enjoy a free, exciting hackathon experience. </dd>
                <dt class="list-group-item  ">Where is parking?</dt>
                <dd class="list-group-item">Parking for the event will be in the Lot behind the Information Technology Building Lot 42. Free parking all weekend.</dd>
                <dt class="list-group-item  ">How can I confirm that my registration was received?</dt> 
                <dd class="list-group-item">There will have been a confirmation email sent to you within 5 business days of your registration.</dd>
                <dt class="list-group-item  ">When is the deadline to register?</dt>
                <dd class="list-group-item">The deadline to register for SouthernHacks is February 10, 2020 at 11:59PM</dd>
                <dt class="list-group-item  ">This is my first hackathon and I'm not sure what to do?</dt>
                <dd class="list-group-item">There will be mentors available to help you throughout your time here as well as workshops to help you develop and learn new skills and knowledge. You have to start somewhere so why not SouthernHacks! </dd>
            </dl>
    
        </div>