h1 {
    margin-top: 25px;
}
h6 {
    color: black;
    padding-top: 30px;
    padding-left: 10px;
}
.card {
    display: flex;
}
.spon {
    margin: 25px;
    flex: 33.33%;
    opacity: .7;
    transition: .5s;

}
.spon:hover {
    opacity: 1;
    cursor: pointer;
    transition: .5s;
}
#rndc {
    max-width: 150px;
    max-height: 200px;
}
#statefarm {
    max-width: 300px;
    max-height: 150px;
}
