<div class="container" id="sponsors">

<h1>Thank you to our sponsors!</h1>
<hr align="left">
<div class="row">
    <div class="card">
        <div class="spon" id="statefarm">
            <a href="https://www.statefarm.com/careers">
                <img src="../../assets/sf-logo-horizontal.png" alt="State Farm True Blue Sponsor" width="100%">
            </a>
        </div>
        <div class="spon" id="rndc">
            <a href="https://www.rndc-usa.com/opportunities">
                <img src="../../assets/rndc.png" alt="RNDC True Blue Sponsor" width="100%">
            </a>
        </div>
     

     <h6>Want to become a sponsor of Georgia Southern's first hackathon? Download our <a href="../../assets/SH_Pros.pdf" download>Sponsor Prospectus</a>
    and shoot us an email at  <a href="mailto:southernhacks@gmail.com">southernhacks@gmail.com</a></h6>
    </div>
</div>
