<div class="container" id="register">
<div class="row">
<div class="card">
  <h1>Registration</h1>
  <hr align="left">
</div>
<div class="card white">
<p>
  Interested in attending our hackathon? We'd love to have you!
  Fill out the form below to be put on the list.
</p>
<form action="#" method="POST">
<div class="row">
  <div class="col-4">
          <div class="form-group">
            <input type="text" name="name" placeholder="Hacker Smith"/>
          </div>
          <div class="form-group">
            <input type="email" name="email" placeholder="hackersmither123@email.com"/>
          </div>
          <div class="form-group">
            <input type="text" name="school" placeholder="University of Awesome"/>
          </div>
          <button type="submit">Submit</button>

  </div>
</div>
</form>
</div>

</div>
</div>
