<div class="container" id="register">
<div class="row">
<div class="card">
  <h1>Registration</h1>
  <hr align="left">
</div>
<div class="card white">
<p>
  Interested in attending our hackathon? We'd love to have you!
  Fill out the form below to be put on the list.
</p>
<form id="myform"  action="api/submit" method="POST" onsubmit="this.submit(); this.reset(); return false;">
<div class="row">
  <div class="col-4">
          <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Hacker" required/>
          </div>
          <div class="form-group">
              <input type="text" id="last" name="last" placeholder="Smith" required/>
            </div>
            <div class="form-group">
            <input type="email" id="email" name="email" placeholder="hackersmither123@email.com" required/>
          </div>
          <div class="form-group">
            <input type="text" id="school" name="school" placeholder="University of Awesome" required/>
          </div>
          <div class="form-group">
              <p id="thankyoumsg" style="display: none;">Thank you for registering!</p>
            </div>
            <div class="form-group">
                <input type="text" name="major" placeholder="What is your Major?" required/>
              </div>
              <div class="form-group" role="group">
                  <p>Are you over the age of 18?</p>            
                  <label class="radio-inline">Yes<input id="yes1" name="over18" class="btn btn-primary col-4" type="radio" value="1"></label>
                  
                  <label class="radio-inline">No<input id="no1" name="over18" class="btn btn-primary col-4" type="radio" value="0"></label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Gender?</label>
                    <select name="gender" id="gender"class="form-control" id="exampleFormControlSelect1">
                      <option value="male" selected>Male</option>
                      <option value="female">Female</option>
                      <option value="nonbinary">Non-Binary</option>
                      <option value="other">Other</option>
                      <option value="prefernoanswer">Prefer not to answer</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ethnicity</label>
                    <select name="ethnicity" id="ethnicity" class="form-control" id="exampleFormControlSelect1">
                      <option value="american indian" selected>American Indian or Alaskan Native</option>
                      <option value="asian">Asian/Pacific Islander</option>
                      <option value="african american">Black or African American</option>
                      <option value="middle eastern">Middle Eastern</option>
                      <option value="white">White/Caucasion</option>
                      <option value="hispanic">Hispanic or Latino</option>
                      <option value="prefernot">Prefer not to answer</option>
                    </select>
                </div>
                <div class="form-group">
                  <label>Skills?</label>
                  <input class="form-control form-control-sm" type="text" name="skill" placeholder="Have any skills you want to share?">
                </div>
                <div class="form-group">
                    <label>Dietary Restrictions?</label>
                    <input class="form-control form-control-sm" type="text" name="restrictions" placeholder="Have any dietary restrictions?">
                </div>
                <div class="form-group" role="group">
                    <p>Do you want to be put on a team?</p>            
                    <label class="radio-inline">Yes<input id="yes2" name="team" class="btn btn-primary col-4" type="radio" value="1"></label>
                  
                    <label class="radio-inline">No<input id="no2" name="team" class="btn btn-primary col-4" type="radio" value="0"></label>
                  </div>
          <button type="submit" >Submit</button>

  </div>
</div>
</form>
<script>
$(function() {



});
</script>

</div>

</div>
</div>
