<div class="container" id="register">
<div class="row">
<div class="card">
  <h1>Registration</h1>
  <hr align="left">
</div>
<div class="card white" style="height: 100px;">
<p>
  <strong>Interested in attending our hackathon? We'd love to have you!
    <a target="_blank" href="https://forms.gle/2AiqyLFBig4mLF578" style="text-decoration: none;">Fill out our Google Form</a> to be put on the list.</strong>
  <br><br>
  We are taking applications on an RSVP basis,
   please make sure you are able to attend before you sign up.<br><br>
  <i>Please wait 5 business days to receive an email from our Hacker Coordinator to confirm your attendance.</i>
</p>
</div>
