@import '../../styles.scss';

:host {
  min-height: 100%;
  overflow: hidden;
    h1 {
      color: $white;
      font-size: 35px;
    }
    h3 {
      text-align: left;
      padding-left: 15px;
     font-size: 26px;
      color: $deep-purple;
      font-weight: bolder;
      letter-spacing: 2px;
    }
    p {
      margin: 5px;
      text-align: left;
      color: $black;
      padding: 10px;
      letter-spacing: .75px;
    }
   .card {
     width: 100%;
    margin: 10px;
    padding-top: 10px;
   }

   .dark-blue {
     border-top: solid 6px $royal-blue;
     border-radius: 3px;
   }
   .purple {
     border-top: solid 6px $deep-purple;
     border-radius: 3px;
   }
   .light-blue {
     border-top: solid 6px $muted-blue;
     border-radius: 3px;

   }
   @media screen and (min-width: 950px) {
      .card {
        max-width: 300px;
      }
   }
   @media screen and (min-width: 1300px) {
     .card {
       max-width: 350px;
     }
   }
  }

