<div class="container" id="intro">
  <h1>Our Mission</h1>
  <hr align="left">
  <div class="row">
      <div class="card dark-blue">
        <h3>EXPLORE</h3>
        <p>We are hoping to spread our love for exploration and learning with you. 
          Our goal is to provide the resources any budding creator needs to let their
          love for technology flourish. By competing in a challenge, going to workshops,
          and listening to more seasoned creators, we can help you expand your journey of
          exploring technology.
        </p> 
      </div>
      <div class="card light-blue">
          <h3>EMBOLDEN</h3>
          <p>By accomplishing the act of creating something, you will be emboldened to keep going!
            After you create and compete, whether you win or lose, you are now leveled up. 
            We welcome beginners who are learning the ins and outs of for-loops and if statements
            as well as seasoned creators who have been to many hackathons in the past. Everyone
            can bring something to a team and to this experience.
          </p>
      </div>
      <div class="card purple">
          <h3>ELEVATE</h3>
        <p>
          After reflecting upon the hackathon experience, we want you to go on to <strong>KEEP</strong> creating.
          SouthernHacks is simply one step in becoming a better thinker, learner, explorer, and creator.
          We challenge YOU to elevate yourself to the next level.
        </p>
      </div>
    </div>
</div>
