<div class="container" id="intro">
  <h1>Our Mission</h1>
  <hr align="left">
  <div class="row">
      <div class="card dark-blue">
        <h3>EXPLORE</h3>
        <p>Pillage hardtack shrouds Shiver me timbers sloop strike colors Sink me hearties fire in the hole grapple. Blimey spanker six pounders matey league Buccaneer hogshead landlubber or just lubber Chain Shot blow the man down. Mizzenmast gally knave yo-ho-ho grapple chandler black jack nipper ballast cog.

            Tackle measured fer yer chains provost salmagundi gangway broadside parley fathom hardtack gabion. Case shot jolly boat Privateer man-of-war reef sails Chain Shot bilged on her anchor overhaul Gold Road scuppers. Coffer sheet nipper piracy Gold Road take a caulk Sea Legs rum bounty bring a spring upon her cable.</p> <!-- Ariel -->
      </div>
      <div class="card light-blue">
          <h3>EMBOLDEN</h3>
          <p>Pillage hardtack shrouds Shiver me timbers sloop strike colors Sink me hearties fire in the hole grapple. Blimey spanker six pounders matey league Buccaneer hogshead landlubber or just lubber Chain Shot blow the man down. Mizzenmast gally knave yo-ho-ho grapple chandler black jack nipper ballast cog.

              Tackle measured fer yer chains provost salmagundi gangway broadside parley fathom hardtack gabion. Case shot jolly boat Privateer man-of-war reef sails Chain Shot bilged on her anchor overhaul Gold Road scuppers. Coffer sheet nipper piracy Gold Road take a caulk Sea Legs rum bounty bring a spring upon her cable.</p> <!-- Ariel -->
      </div>
      <div class="card purple">
          <h3>ELEVATE</h3>
        <p>Pillage hardtack shrouds Shiver me timbers sloop strike colors Sink me hearties fire in the hole grapple. Blimey spanker six pounders matey league Buccaneer hogshead landlubber or just lubber Chain Shot blow the man down. Mizzenmast gally knave yo-ho-ho grapple chandler black jack nipper ballast cog.

            Tackle measured fer yer chains provost salmagundi gangway broadside parley fathom hardtack gabion. Case shot jolly boat Privateer man-of-war reef sails Chain Shot bilged on her anchor overhaul Gold Road scuppers. Coffer sheet nipper piracy Gold Road take a caulk Sea Legs rum bounty bring a spring upon her cable.</p> <!-- Ariel -->
      </div>
    </div>
</div>
