@import '../styles.scss';

h1 {
  margin-bottom: 20px;
  margin-top: 0;
}

 nav {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
nav li {
  display:inline;
}

nav a {
  display:inline-block;
  padding:10px;
  color: $muted-blue;
  text-decoration: none;
  transition: .5s;
}

nav a:hover {
  font-style: bold;
  color: $white;
  transform: translateY(5px);
  transition: .5s;
}

nav a:active {
  font-style: bold;
  color: $white;
}

nav a:visited {
  font-style: bold;
  color: $deep-purple;
}

nav a:visited:hover {
  font-style: bold;
  color: darken($white, 50%);
}
img {
  max-width: 800px;

}
h1 {
  font-family: $font-digitized;
  font-size: 60px;
  letter-spacing: 5px;
  color: $white;
}
h2 {
  font-size: 35px;
}
@media screen and (max-width: 500px) {
  img {
    max-width: 250px;
  }
  h1 {
    font-size: 35px;
  }
}