  <body>
      <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#intro">About Us</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#register">Register</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
    <div class="container home">
        <div class="row row1">

            <div class="col-sm-12">
              <h1>Break new ground.</h1>
              <a href="#intro">
                <fa name="arrow-circle-down" size="3x"></fa>
              </a>

            </div>
          </div>
        </div>
        <div class="container" id="intro">
            <div class="row">
                <div class="col-sm card">
                  <h3>EXPLORE</h3>
                  <p>explain this</p>
                </div>
                <div class="col-sm card">
                  <h3>EMBOLDEN</h3>
                  <p>explain this</p>
                </div>
                <div class="col-sm card">
                  <h3>ELEVATE</h3>
                  <p>explain this</p>
              </div>
              </div>
        </div>
        <div class="container" id="schedule">


        </div>
        <div class="container" id="register">


        </div>
        <div class="container" id="sponsors">


        </div>
        <div class="container" id="contact">

        </div>


    <router-outlet></router-outlet>
    <script src="" async defer></script>
  </body>


